{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}


{% block body %}
<!-- class = content -->
<div class="container d-flex justify-content-center align-items-top" >
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Task</th>
                <th>Date Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{task.content}}</td>
                    <td>{{task.date_created.date()}}</td>
                    <td>
                        <a href="/delete/{{task.id}}" class = 'btn btn-primary'>Delete</a>
                        <a href="/update/{{task.id}}" style = 'background-color: red' class = 'btn btn-secondary'>Update</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<form action = '/' method = 'POST'>
  <div class="mb-3">
    <label class="form-label">Task</label>
    <input type="text" name = 'content' id = 'content' class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
